body{
    background: #33d9b2;
}

.container{
    text-align: center;
}

.formTitle{
    font-weight: 200;
    color: white;
    font-size: 40px;
}

.status{
    margin-top: 2vh;
    color: red;
}

.fadeOutStatus{
    opacity:0;
    transition: opacity 0.5s;

}
.fadeInStatus{
    opacity:1;
    transition: opacity 0.5s;
}

::placeholder{
    color: white;
}
input{
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 3px;
    margin: 2vh;
    padding: 10px 15px;
    font-size: 19px;
    text-align: center;
    font-weight: 200;
    color: white;

    width: 22vw;
    height: 6vh;

    -webkit-transition-duration: 0.25s;
          transition-duration: 0.25s;
}
input:hover{
    background-color: rgba(255, 255, 255, 0.4);
}
input:focus{
    background-color: rgba(255, 255, 255, 1);
    width: 24vw;
    color: #33d9b2;
}

button{
    outline: 0;
    margin-top: 3vh;
    padding: 1vh 6vw;
    background-color: rgba(255, 255, 255, 1);
    color: #33d9b2;
    font-size: 18px;

    border-radius: 3px;
    border: 0px;

    transition-duration: 0.4s;
}
button:hover{
    background-color: rgba(255, 255, 255, 0.8);
}
button:disabled{
    background-color: rgba(255, 255, 255, 0.6);
}

hr{
    height: 30px;
    border-style: solid;
    border-color: white;
    border-width: 1px 0 0 0;
    border-radius: 20px;

    width: 70%;
    margin-bottom: -30px;
}
hr::before{
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 1px 0;
    border-radius: 20px;
}