
.fullScreenLoaderContainerFadeIn {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.7);
    z-index: 2;

    opacity:1;
    transition: opacity 0.3s;
}

.fullScreenLoaderContainerFadeOut {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(255, 255, 255, 0.7);
    z-index: -1;

    opacity:0;
    transition: opacity 0.3s;
}

.FullScreenLoader {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.fullScreenLoaderText {
    font-weight: 200;
    color: black;
    font-size: 24px;
}
